* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-image: url('foto de fundo chaveiro.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

header h1 {
    font-size: 32px;
}

nav {
    background-color: #000;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    display: inline-block;
}

section {
    padding: 20px;
}

section h2 {
    font-size: 24px;
    text-align: center;
}

.whatsapp-icons {
    text-align: center;
    margin: 20px 0;
}

.whatsapp-icons img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Adicionando espaço entre os itens */
}

.service {
    flex: 1 1 200px; /* Garantindo que os itens tenham pelo menos 200px de largura e possam crescer */
    max-width: 200px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9; /* Fundo para destacar os itens */
    border-radius: 8px;
}

.service img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px; /* Bordas arredondadas para as imagens */
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.banner-title {
    font-size: 36px;
    color: #fff;
    position: relative;
}

.banner-title::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 80%;
    height: 2px;
    background-color: orange;
}

@media (max-width: 768px) {
    header {
        padding: 50px 20px;
    }

    header h1 {
        font-size: 24px;
    }

    nav a {
        font-size: 16px;
        padding: 8px 16px;
    }

    section h2 {
        font-size: 20px;
    }

    .service {
        flex: 1 1 100%; /* Faz com que os itens ocupem toda a largura disponível em telas menores */
        max-width: 100%;
    }
}
